<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>RenphaConsulting</title>
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'
      rel='stylesheet'
    />
    <meta name='color-scheme' content='light dark' />
    <meta name='supported-color-schemes' content='light dark' />
    <style>
      * { margin: 0; padding: 0; font-family: "Poppins", sans-serif; }
      .main-container { background: #f1f1f1; padding: 2rem 0; width: 100%;
      color:#004080; } .container { width: 100%; max-width: 700px; margin: 0
      auto; } .main { background: #ffffff; padding-bottom: 90px; border-radius:
      6px; padding: 1rem 1rem 2rem; } .main h1 { text-align: center; font-size:
      26px; line-height: 36.5px; padding-bottom: 30px; font-weight: bold; color:
      #004080; } .header { width: 100%; display: flex; justify-content: center;
      align-items: center; margin-bottom: 20px;} .header img { max-width: 100%;
      object-fit: contain; display: block; } .footer { text-align: center;
      padding-bottom: 100px; padding-top: 40px; } .footer img { width: 34px;
      height: 34px; } p{ margin: 1rem 0; } .main .cap {text-transform:
      capitalize;}

    </style>
  </head>
  <body>
    <div class='main-container' style='font-family: Poppins, sans-serif;'>
      <div class='container'>
        <!-- Email header -->

        <!-- Email Main -->
        <div class='main'>
          <!-- Heading -->
          <h1>Welcome to RenphaConsulting</h1>

          <div class='header'>
            <center>
              <img
                src='https://res.cloudinary.com/dynopc0cn/image/upload/v1729950052/renphaconsulting-img_sfodow.png'
                alt='RenphaConsulting-Logo'
              />
            </center>
          </div>

          <p>Hi <strong class='cap'>{{firstName}}</strong>,</p>

          <p>Welcome to the RenphaConsulting family! We’re thrilled to have you
            join us as you embark on your travel planning journey. Whether
            you're looking for a serene retreat, an exciting adventure, or a
            place to unwind, we’re here to guide you every step of the way.</p>

          <p>At RenphaConsulting, we pride ourselves on being a trusted and
            reliable resource, backed by years of experience in the travel
            consulting industry. Our team is dedicated to ensuring each
            consultation is personalized, professional, and focused on your
            needs and preferences. From the initial consultation to the smallest
            details, we’re committed to making your travel experience smooth and
            stress-free.</p>

          <p>Thank you for choosing us. We look forward to bringing your dream
            destinations to life and building a lasting relationship.</p>

          <p>Best Regards,<br /><strong class='bold'>RenphaConsulting Team</strong></p>
        </div>

        <!-- Email Footer -->
      </div>
    </div>
  </body>
</html>